.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}

.hero-container__image {
  width: 180px;
  height: 200px;
  border-radius: 50% 50% 50% 50% / 30% 80% 40% 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: 1px 0.1px 55px 0px rgb(151, 151, 153);
}

.logo {
  color: white;
}

.section__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.section__title {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

.section__role {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(61, 242, 255, 0.8);
}

.section__skills {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(223, 241, 25, 0.85);
}

.section__subtext {
  margin: 10px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
}
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button--solid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 0.7rem;
  border: 2px solid white;
  border-radius: 30px;
  height: 35px;
  width: 190px;
  padding: 0 5px;
}

.button--solid:hover {
  border: 2px solid rgba(61, 242, 255, 0.691);
  font-size: 0.75rem;
  background-color: rgba(61, 242, 255, 0.08);
}

@media screen and (min-width: 760px) {
  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 10px 20px;
    height: calc(100vh);
  }

  .hero-container__image {
    width: 250px;
    height: 270px;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .section__title {
    font-size: 2.1rem;
  }
}
