.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 20px;
  gap: 50px;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 900px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .projects__portfolio:nth-child(3) {
    grid-column: 1 / 3;
  }
}
