.portfolio {
  height: 100vh;
  background: url("/public/img/background-desktop.webp");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
}
