.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: white;
  top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    -55deg,
    rgba(21, 21, 21, 0.94),
    rgba(21, 21, 21, 0.94),
    rgba(21, 21, 21, 0.94),
    rgba(21, 21, 21, 0.94)
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
