.section__about {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  gap: 20px;
}

.section__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.section__title {
  max-height: 100%;
}

.about__text {
  max-width: 650px;
  max-height: 100%;
  color: white;
  text-align: justify;
  font-size: 0.9rem;
}

.education {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: space-evenly;
}

.education__role {
  color: rgba(61, 242, 255, 0.691);
}

.education__range {
  color: rgba(255, 255, 255, 0.628);
  font-size: 0.8rem;
}

.education__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about__picture {
  border-radius: 50%;
  object-position: top;
}

.section__social-media {
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 760px) {
  .section__about {
    padding: 10px 20px;
  }
  .section__text {
    text-align: start;
  }

  .container__about {
    display: flex;
    flex-direction: row;
  }
}
