.project {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border: 3px solid rgba(243, 240, 240, 0.687);
  border-radius: 10px;
  padding: 15px;
  background-color: rgba(56, 58, 61, 0.464);
}

.project__image {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

img {
  object-fit: cover;
  object-position: top;
}

.project__title {
  font-size: 1.1rem;
}

.projects__skills {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills__title {
  font-weight: 700;
}

.live-demo-container {
  font-size: 0.8rem;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  color: rgb(255, 255, 255);
  height: 40px;
  gap: 5px;
}

.live-demo-container:hover {
  background-color: white;
  color: black;
}

.live-demo-link:hover {
  color: black;
}

.carrusel__imgs {
  flex: 0 0 200px;
  margin: 0 20px 0 0;
}

.carrusel__imgs:last-of-type {
  margin: 0;
}

.carrusel {
  display: flex;
  overflow-x: scroll;
  margin: 0 auto;
  border: 3px solid rgba(8, 8, 8, 0.947);
  box-shadow: 4px 5px 35px rgba(0, 195, 255, 0.555);
}

@media screen and (min-width: 760px) {
  .project__title {
    left: 200px;
  }

  .project {
    width: 430px;
  }

  .carrusel__imgs {
    flex: 0 0 200px;
    margin: 0 10px 0 0;
    width: 100%;
  }
}
