.project {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  box-shadow: 1px 0.1px 5px 0px rgb(117, 117, 118);
  border-radius: 10px;
  padding: 15px;
  background-color: rgba(10, 10, 10, 0.1);
}

.project__image {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

img {
  object-fit: cover;
  object-position: top;
}

.project__title {
  font-size: 1.1rem;
  color: rgba(61, 242, 255, 1);
}

.projects__skills {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.skills__title {
  font-weight: 700;
}

.links-container__demo {
  font-size: 0.8rem;
  font-weight: 700;
  box-shadow: 1px 0.1px 5px 0px rgb(117, 117, 118);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  color: rgb(255, 255, 255);
  height: 40px;
  gap: 5px;
}

.links-container__demo:hover {
  border: 2px solid rgba(61, 242, 255, 0.691);
  font-size: 0.85rem;
  background-color: rgba(61, 242, 255, 0.08);
}

.live-demo-link:hover {
  color: black;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.carrusel__imgs {
  flex: 0 0 240px;
  margin: 0 20px 0 0;
}

.carrusel__imgs:last-of-type {
  margin: 0;
}

.carrusel {
  display: flex;
  overflow-x: scroll;
  margin: 0 auto;
  border: 8px solid rgba(8, 8, 8, 0.947);
  box-shadow: 0px 7px 15px rgba(243, 244, 245, 0.555);
}

.project__stacks {
  position: absolute;
  padding: 2px 6px;
  border-radius: 20px;
  background-color: rgba(162, 161, 161, 0.472);
  font-size: 0.6rem;
}

.project__tool {
  background-color: rgba(79, 78, 78, 0.354);
  border-radius: 5px;
  padding: 1px 6px;
  font-size: 0.75rem;
}

.projects__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 0.7rem;
}

@media screen and (min-width: 760px) {
  .project__title {
    left: 200px;
  }

  .project {
    width: 420px;
  }

  .carrusel__imgs {
    flex: 0 0 240px;
    margin: 0 10px 0 0;
    width: 100%;
  }
}
