.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  height: calc(100vh);
}

.contact-info-upper-container {
  border: 2px solid white;
  padding: 20px;
  background-color: rgba(49, 48, 48, 0.371);
  border-radius: 10px;
}

.contact-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
