.navigation {
  background-color: rgba(45, 44, 44, 0.523);
  position: fixed;
  border-radius: 10px;
  margin: auto;
  bottom: 10px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  font-size: 0.8rem;
  width: 280px;
}

.navigation__list {
  display: flex;
  padding: 10px;
  gap: 24px;
}

.navigation__link {
  text-decoration-color: white;
  cursor: pointer;
}

.navigation__link:hover {
  color: rgb(224, 221, 221);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

@media screen and (min-width: 760px) {
  .navigation {
    width: 480px;
    font-size: 0.9rem;
  }
}
